<!DOCTYPE html>
<html lang="en">

  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128205184-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128205184-2');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kanti Yoga</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Kanti Yoga</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post/1">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-color: #ef7307">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>योग और यौगिक जीवनशैली - 1</h1>
              <h3 class="subheading">योग क्या है और योग क्यों करें</h3>
              <span class="meta">Posted by
                <a href="#">Gyaneshwar</a>
                on October 19, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">योग क्या है?</h2>
            <p>सरल भासा में योग का अर्थ अपनी शारीरिक क्रियाओं को सजगता पूर्वक अपने स्वांस से जोड़ना है| योग केवल अभ्यास ही नही, अपितु इसे अपने जीवनशैली के रूप में अपनाना होगा| जिस प्रकार सोना-जागना, उठना-बैठना, खाना-पीना आक्रोश-हर्ष जीवन का एक अंग है, उसी प्रकार योग को भी जीवन का एक अंग बनाना होगा| योग को मात्र अभ्यास या साधना के रूप में ही नहीं, उसे जीवन पद्धति के रूप में अपनाना होगा| योग के प्रति निष्ठां, गंभीरता और समर्पण जरुरी है|</p>

            <h2 class="section-heading">योग क्यों करें?</h2>

            <p>सर्वप्रथम हमें जानना होगा की मानव शरीर की कोशिका तथा ग्रंथियां (glands and organs ) जो ग्रन्थिरस (hormones) बनाती, जमा, निकास करती है उन सभी ग्रंथियों को सक्रिय बनाये रखने के लिए योग जरुरी है| चाहे respiratory system  हो या फिर excretory  system  हो या digestive system  हो या reproductive system हो या nervous system हो| जितने भी तंत्र हैं, चाहे ऑक्सीजन को सेल के mitochondria तक ATP  के द्वारा पहुँचाना हो या खून का जिस्म में दौड़ना हो| इन साड़ी क्रियाओं को जागृत करने के लिए हमें योग करना बहुत जरुरी है| जिसमें सर्वप्रथम हठ योग किया जाना चाहिए| हठ प्रदीपिका 1:17  के  अनुसार </p>

            <blockquote class="blockquote">हठस्य प्रथमाङ्गत्वादासनं पूर्वमुच्यते|<br>
                कुर्यात्तदासनं स्थैर्यमारोग्यं चांगलाघवम||</blockquote>

            <p>अर्थात हठ योग में आसन को पहला स्थान दिया गया है| जिसके करने से मन और शरीर शुद्ध और शांत एवं रोग मुक्त हो जाता है| योग के सागर में गोता लगाने के बाद जीवन का सही आनन्द मिलता जाता है| पतंजलि के योग सूत्र के अनुशार आसन की परिभासा ही दी गयी है - स्थिरं सुखं आसनम| वस्तुतः बायें नाक के नाशिका को चंद्र नाड़ी और दाएं को सूर्य नाड़ी कहते हैं| इन दोनों के बीच जहाँ असंतुलन हुआ, की मनुस्य का शरीर बीमार हो जाता है| शरीर के 72000 नाड़ियां, चंद्र नाड़ी और सूर्य नाड़ी के द्वारा नियंत्रित होती है| जिसे योग की भासा में ईड़ा और पिंगला नाड़ियों के रूप में जाना जाता है| योग के माध्यम से हम ईड़ा और पिंगला के बीच संतुलन ला स्वस्थ हो सकते हैं|</p>

            <a href="#">
              <img class="img-fluid" src="../static/img/ida-pingla.jpg" alt="">
            </a>
            <span class="caption text-muted">The balance between ida and pingala. <a href="https://isha.sadhguru.org/in/en/wisdom/article/the-three-fundamental-nadis">Courtesy isha.sadhguru.org</a></span>

            <h2 class="section-heading">योग कैसे करें?</h2>
            <p>योग को अपने जीवनशैली में अपनाना बहुत ही सरल है| सुबह उठने से लेकर रात को सोने तक जो भी कार्य हम करते हैं सभी एक प्रकार के योग अभ्यास हैं| जरुरत है तो बस स्वास के प्रति सजग हो कर उन्हें करने की| आगे हम जानेंगे की योग को अपने जीवन से हम कैसे जोड़ सकते हैं|</p>

          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/uttamkumar.ghosh.1/?hl=en">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/uttamkumar.ghosh.1">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

  </body>

</html>
